html 
	-webkit-box-sizing border-box 
	-moz-box-sizing border-box 
	box-sizing border-box 
	height 100%

body
	font-family Arial, "Helvetica Neue", Helvetica, sans-serif
	font-size 16px

*, *:before, *:after 
	-webkit-box-sizing inherit 
	-moz-box-sizing inherit 
	box-sizing inherit 

ul 
	margin 0
	padding 0
	list-style none
	
.block
	display inline-block
	width 100%
	vertical-align top

.inner
	max-width 1230px
	margin auto
	
a
	text-decoration none
	
img
	display block
	width 100%