.heroplates
	overflow hidden
	position relative
	margin 0 auto
	width 100%
	padding-bottom 46.25%

	&__pane
		

		&:last-child
			
		
		&--top	
			&:hover
				
				+ .heroplates__pane--bottom
					width 70%

		&--bottom
			width 87%
			height 100%
			right -0.25em
			transform-origin 0 100%
			overflow hidden
			position absolute		
			-webkit-transform skewX(-55.98deg) 
			-moz-transform skewX(-55.98deg) 
			-ms-transform skewX(-55.98deg) 
			-o-transform skewX(-55.98deg) 
			transform skewX(-55.98deg) 
			transition width 0.25s ease-in-out, z-index 1s ease
			border-left 6px solid $primary
			-webkit-backface-visibility hidden 		
			&:hover
				width 120%
			

			
	&__img--bottom
		-webkit-transform skewX(55.98deg) 
		-moz-transform skewX(55.98deg) 
		-ms-transform skewX(55.98deg) 
		-o-transform skewX(55.98deg) 
		transform skewX(55.98deg) 
		transform-origin inherit
		background-size cover
		background-position 100%
			
	&__img
		width 100%
		height 100%
		width 1920px
		position absolute
		
		&--top
			left 0

		&--bottom
			right 0





