// -- Colors


// -- Type 
$sans-serif =        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif =             "Georgia", Cambria, Times New Roman, Times, serif;
$reg-font =          "";
$bold-font =         "";
$italic-font =       "";




$images  =           "../img/";


// -- Media Queries
$mobile = 480px
$tablet = 767px
$desktop = 960px


